<%- include ../partials/header.ejs %>

  <h1>Login</h1>

  <form method="POST" action="/login" class="login-form">
    <pre class="login-form-errors"></pre>
    <label>
      <span>Username:</span>
      <input type="text" placeholder="Enter Email" name="email" required/>
    </label>
    <label>
      <span>Password:</span>
      <input type="password" placeholder="Enter Password" name="password" required/>
    </label>
    <input type="submit" value="Login">
    <span><input type="submit" value="Cancel"></span>
    <span class="?">Not a user? <a href="/signup"> Signup!</a></span>
  </form>

<% if (error === 'Invalid Username or Password') {%>
  <div style="color: red;"><%= error %></div>
<% } %>

  <%- include ../partials/footer.ejs %>
