<%- include ../partials/header.ejs %>

  <h1>Signup Form</h1>

  <form method="post" action="/contacts" class="signup-form">
    <label>
      <span>Email:</span>
      <input type="text" placeholder="Enter Email" name="email" />
    </label>
    <label>
      <span>First name:</span>
      <input type="text" placeholder="Enter First Name" name="first_name" />
    </label>
    <label>
      <span>Last name:</span>
      <input type="text" placeholder="Enter Last Name" name="last_name" />
    </label>
    <label>
      <span>Password:</span>
      <input type="text" placeholder="Enter Password" name="password" />
    </label>
    <input type="submit" value="Signup">
    <span>Already a user? <a href="/login">Log in</a></span>
  </form>

<%- include ../partials/footer.ejs %>